body {
    background-color: rgb(91, 91, 91);
}

.tournament-tree {
    display: flex;
    flex-direction: row;
    height: 75vh;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    width: 33vw;
    
}

.match {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 10vh;
    width: 10vw;
}

.player {
    border: 1px solid pink;
    height: 5vh;
}

.connect-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.connect-line {
    display: flex;
    flex-direction: row;

    width: 20vw;
}

.connect-from {
    border: 1px solid white;
    border-left: none;
    height: 15vh;
    width: 10vw;
}

.connect-to {
    border-bottom: 1px solid white;
    width: 10vw;
    height: 4vw;
}

.from-semifinal {
    height: 30vh;
}

.to-final {
    height: 15vh;
}
