body {
    background-color: rgb(91, 91, 91);
}

.tournament-tree {
    display: flex;
    flex-direction: row;
    height: 75vh;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lime;
    height: 75vh;
    width: 33vw;
    
}

.match {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 10vh;
    width: 10vw;
}

.player {
    border: 1px solid pink;
    height: 5vh;
}

